/****************************************
  Large Mobile
*****************************************/

@media (min-width: 640px) and (max-width: 960px) {
  	/****************************************
	  About Me Page
	*****************************************/
	main {
		width: 95%
	}
}

/****************************************
  Normal Mobile
*****************************************/

@media (min-width: 350px) and (max-width: 640px) {
  	nav {
		position: static;
		text-align: center;
		width: 100%;
		font-size: 30px;
		padding-bottom: 20px;
	}
  	.main-square{
  		height: 31em;
  		width: 100%;
  	}
  	body > div {
  		position: static;
		width: 100%;
		margin: 0 auto;
	}
	.css-project {
		border-bottom: 4px solid white;
		border-left: 0px;
	}

	.twitter-project {
		border-bottom: 4px solid white;
		border-right: 0px;
		border-top: 0px;
	}

	.about-me {
		border-top: 0px;
		border-left: 0px;
	}

	.social-container {
		border-right: 0px;
		border-bottom: 4px solid white;
	}
	body > div .fa {
		top: 40px;
		font-size: 170px;
	}
	/****************************************
	  About Me Page
	*****************************************/
	main {
		width: 95%
	}
}

/****************************************
  Small Mobile
*****************************************/
@media (min-width: 0px) and (max-width: 350px) {
  	nav {
		position: static;
		text-align: center;
		width: 100%;
		font-size: 30px;
		padding-bottom: 20px;
	}
  	.main-square{
  		height: 200px;
  		width: 200px;
  	}
  	body > div {
  		position: static;
		width: 200px;
		margin: 0 auto;
	}
	.css-project {
		border-bottom: 4px solid white;
		border-left: 0px;
	}

	.twitter-project {
		border-bottom: 4px solid white;
		border-right: 0px;
		border-top: 0px;
	}

	.about-me {
		border-top: 0px;
		border-left: 0px;
	}

	.social-container {
		border-right: 0px;
		border-bottom: 4px solid white;
	}
	/****************************************
	  About Me Page
	*****************************************/
	main {
		width: 95%
	}
}

