body {

}

#home {
	font-size: initial;
	margin-top: -10px;
	margin-left: initial;
	position: absolute;
	right: 10px;
}

.fa-home {
	font-size: 40px;
	color: black;
}

/****************************************
  Home Page
*****************************************/
.home-content {
	margin-left: 100px;
	position: absolute;
	top: 30%;
}

.home-content h1 {
	font-size: 50px;
}

.home-content div {
	width: 200px;
}

.home-content a {
	display: inline-block;
	font-size: 30px;
	color: black;
}

.home-content div > * + * {
	margin-top: 15px;
}

.home-content a:hover {
	font-weight: bold;
}

/****************************************
  About Page
*****************************************/

main {
	margin-bottom: 40px;
	margin-left: 30px;
	width: 900px;
}

main p {
	line-height: 20px;
}

main ol {
	margin-top: 20px;
	margin-bottom: 20px;
}

main > a {
	color: black;
}

main a:hover {
	font-weight: bold;
}

/****************************************
  Projects
*****************************************/

.projects h1 {
	margin-bottom: 5px;
}

.projects p {
	font-size: 12px;
}

/****************************************
  Media Query
*****************************************/

@media (min-width: 0px) and (max-width: 940px) {

	main {
		width: 90%;
	}
	
}