body {
	background-color: #d7dadb;
}

body > div {
	width: 604px;
	position: absolute;
	background-color: yellow;
	overflow: hidden;
	left: 50%;
	margin-left: -302px;
	top: 50%;
	margin-top: -302px;
}

.main-square > a {
	color: transparent;
}

img {
	height: 100%;
	width: 100%;
}

img.color {
	opacity: 0.6;
}

.main-square {
	text-align: center;
	position: relative;
	height: 300px;
	width: 300px;
	background-color: black;
}

.css-project {
	float: left;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
}

.twitter-project {
	float: left;
	border-top: 2px solid white;
	border-right: 2px solid white;

}

.about-me {
	float: left;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

.social-container {
	float: left;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}

.social-container > div {
	position: absolute;
	height: 50%;
	width: 50%;
}

.social-container > :nth-child(1) {
	bottom: 50%;
	right: 50%;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}

.social-container > :nth-child(2) {
	top: 50%;
	right: 50%;
	border-top: 2px solid white;
	border-right: 2px solid white;

}

.social-container > :nth-child(3) {
	bottom: 50%;
	left: 50%;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
}

.social-container > :nth-child(4) {
	top: 50%;
	left: 50%;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

.fa {
	position: relative;
	top: 30px;
	color: #d7dadb;
	font-size: 100px;
}

/****************************************
  About Me Page
*****************************************/

main {
	width: 960px;
	margin: 0 auto 50px auto;
	font-family: Lato;
}

main h1 {
	font-family: Lato;
	margin-bottom: 10px;
}

main p {
	font-weight: 300;
	font-family: Lato;
	font-size: 20px;
	margin-top: 10px;
}

ul {
	list-style-type: circle;
}


.preLi {
	margin-bottom: 0;
	font-weight: 400;
}

ul {
	margin-top: 7px;
}

li {
	font-weight: 300;
}

li span {
	font-weight: bold;
}